#room-container {
  width: 80vw;
  height: calc(60vh);
  position: relative;
}

#room-container > .OT_publisher {
  position: absolute;
  border-radius: 10px;
}

mark.alert, .button.alert {
  background-color: #f15656;
  color: #ffffff;
}